<html>
    
    <head>
        <title>Diane's blog</title>
    </head>
    
    <body>
    	<div>
        	<h1><a href="">Diane's Blog</a></h1>
        </div>

        <div>
        	<p>published: </p>
        	<h2><a href="">My first post</a></h2>
        	<p>Lorem ipsum dolor sit amet, autem animal iracundia cu sit, eius deserunt mea no. Nam persius impedit definitiones cu, enim adhuc veniam mea eu. Doming habemus no per. Sed stet bonorum nostrum ea. Vel at utroque complectitur. Nihil vivendum theophrastus est ut.</p>
        </div>

        <div>
        	<p>published: </p>
        	<h2><a href="">My second post</a></h2>
        	<p>Sea te possit omnium commune, at quo suas tation apeirian. Pro diam postea facete no. Soluta iisque appetere nam id. Mei vidit accusam an. Putent consulatu scriptorem ut est, vix graeco mediocritatem te, mutat summo ponderum ea vix. Eu vel ludus admodum ancillae, te vim accumsan albucius.</p>
        </div>
    </body>

</html>